@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    background-image: url(../../img/restoran/background_kitchen.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Montserrat;
}

.menu_container{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.card_container{
    width: 65rem;
    position: relative;  
}

.restoran__card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 1rem;
    backdrop-filter: blur(13px);
    border-radius: 50px;
    background-color: #ecebe95e;
    transition: box-shadow 0.3s ease;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 1.5s ease forwards;
    height: 14rem;
}


@keyframes fadeIn {
    to {
      opacity: 1;
      visibility: visible;
    }
  }




.restoran__card:hover{
    box-shadow: 0 7px 10px rgb(192 151 45 / 77%);
}

.prod_name__container{
    width: 17rem;
    display: flex;
    justify-content: center;

    .name{
        width: 12rem;
        font-weight: bold;
    }
}

.card_img{
    border-radius: 50px;
    height: 193px;
}

.img_container{
    img{
        border-radius: 50px;
        width: 310px;
    }
}


.description__container{
    width: 23rem;
    display: flex;
    justify-content: center;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;

    p{
        font-size: small;
    }

    .product_weigth{
        margin-bottom: 10px;
        font-size: 13px;
    }
}


@media(min-width: 768px) {
    .card_container{
        width: 35rem;
        margin: 2rem;
    }

    .restoran__card{
        flex-direction: column;
        min-height: 30rem;
        justify-content: space-evenly;
    }

    .prod_name__container{
        .name{
            width: auto;
        }
    }
}